body {
    background: #88acc6 url(/images/cloud.jpg); 
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    font-size: 15px;
}
body, html {
    min-height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
    color: #111;
    margin: 10px 0px;
}
h1:first-of-type, h2:first-of-type, h3:first-of-type, h4:first-of-type, h5:first-of-type {
    margin-top: 0px;
}
h1 {
    font-size: 40px;
    font-weight: normal;
}

a {
    color: #577ba8;
    text-decoration: none;
    border: none;
}
a:hover {
    color: #6e8eb5;
    text-decoration: underline;
}

.selected {
    background-color: rgb(110, 142, 181) !important;
    color: #fff !important;
}

.shadow {
    /*box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06);*/
}

.sprite { background: url(/images/icons/small/black/spritesheet.png) no-repeat; }
.sprite-white { background: url(/images/icons/small/white/spritesheet.png) no-repeat; }
.sprite-add { width: 24px; height: 24px; background-position: 0 0; }
.sprite-attention { width: 24px; height: 24px; background-position: 0 -1008px; }
.sprite-bag { width: 24px; height: 24px; background-position: 0 -120px; }
.sprite-bubble { width: 24px; height: 24px; background-position: 0 -144px; }
.sprite-burst { width: 24px; height: 24px; background-position: 0 -168px; }
.sprite-camera { width: 24px; height: 24px; background-position: 0 -192px; }
.sprite-cart { width: 24px; height: 24px; background-position: 0 -216px; }
.sprite-chart { width: 24px; height: 24px; background-position: 0 -24px; }
.sprite-chat { width: 24px; height: 24px; background-position: 0 -240px; }
.sprite-check { width: 24px; height: 24px; background-position: 0 -264px; }
.sprite-clock { width: 24px; height: 24px; background-position: 0 -288px; }
.sprite-computer { width: 24px; height: 24px; background-position: 0 -312px; }
.sprite-cubes { width: 24px; height: 24px; background-position: 0 -336px; }
.sprite-eye { width: 24px; height: 24px; background-position: 0 -360px; }
.sprite-feet { width: 24px; height: 24px; background-position: 0 -384px; }
.sprite-file { width: 24px; height: 24px; background-position: 0 -408px; }
.sprite-flag { width: 24px; height: 24px; background-position: 0 -432px; }
.sprite-foot { width: 24px; height: 24px; background-position: 0 -456px; }
.sprite-gear { width: 24px; height: 24px; background-position: 0 -48px; }
.sprite-graph { width: 24px; height: 24px; background-position: 0 -480px; }
.sprite-group { width: 24px; height: 24px; background-position: 0 -504px; }
.sprite-key { width: 24px; height: 24px; background-position: 0 -528px; }
.sprite-left { width: 24px; height: 24px; background-position: 0 -552px; }
.sprite-link { width: 24px; height: 24px; background-position: 0 -576px; }
.sprite-message { width: 24px; height: 24px; background-position: 0 -600px; }
.sprite-newPage { width: 24px; height: 24px; background-position: 0 -624px; }
.sprite-paperclip { width: 24px; height: 24px; background-position: 0 -648px; }
.sprite-pencil { width: 24px; height: 24px; background-position: 0 -672px; }
.sprite-pictures { width: 24px; height: 24px; background-position: 0 -696px; }
.sprite-plus { width: 24px; height: 24px; background-position: 0 -72px; }
.sprite-reload { width: 24px; height: 24px; background-position: 0 -720px; }
.sprite-right { width: 24px; height: 24px; background-position: 0 -744px; }
.sprite-rightArrow { width: 24px; height: 24px; background-position: 0 -768px; }
.sprite-rightPointer { width: 24px; height: 24px; background-position: 0 -792px; }
.sprite-search { width: 24px; height: 24px; background-position: 0 -816px; }
.sprite-smile { width: 24px; height: 24px; background-position: 0 -840px; }
.sprite-star { width: 24px; height: 24px; background-position: 0 -864px; }
.sprite-tag { width: 24px; height: 24px; background-position: 0 -888px; }
.sprite-thumbsUp { width: 24px; height: 24px; background-position: 0 -912px; }
.sprite-user { width: 24px; height: 24px; background-position: 0 -936px; }
.sprite-walk { width: 24px; height: 24px; background-position: 0 -96px; }
.sprite-x { width: 24px; height: 24px; background-position: 0 -960px; }
.sprite-xCircled { width: 24px; height: 24px; background-position: 0 -984px; }

#logo {
    width: 1000px;
    height: 147px;
    background-image: url(/images/logo.png);
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

#wrapper {
    width: 1000px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.18);
    background-color: #ebebeb;
}

#nav {
    height: 49px;
    line-height: 50px;
    overflow: visible;
    background-color: #e6e6e6;
}
#nav a {
    display: inline-block;
    height: 49px;
    float: left;
    padding-left: 28px;
    padding-right: 28px;
    margin-right: 2px;
    text-decoration: none;
    color: #222;
    font-size: 14px;
    line-height: 50px;
}
#nav a:hover {
    background-color: #577ba8;
    color: #fff;
}
#nav .account {
    display: inline-block;
    height: 49px;
    float: left;
    width: 200px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
}
#nav .time {
    display: inline-block;
    float: right;
    height: 49px;
    line-height: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

#sidebar {
    display: inline-block;
    float: left;
    margin: 1px solid #c3c3c3;
    overflow: visible;
    background-color: #e0e0e0; /*#CCD5E6;*/
    position: absolute;
}
#sidebar a {
    color: inherit;
}
#sidebar .avatar {
    width: 180px;
    height: 180px;
    margin: 10px;
    background-size: 100% 100%;
}
#sidebar .block {
    padding-top: 6px;
}
#sidebar .info {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 36px;
    height: 36px;
    margin-bottom: 2px;
}
#sidebar .button {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 36px;
    height: 36px;
    margin-bottom: 2px;
    cursor: pointer;
}
#sidebar .button:hover {
    background-color: #577ba8;
    color: #e0e0e0;
}
#sidebar .button:last {
    margin-bottom: 0px;
}

#sidebar .button .rightArrow {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 18px;
    background-color: #577ba8;
}
#sidebar .button .rightArrow:after {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#sidebar .button .rightArrow:after {
    border-color: rgba(69, 101, 131, 0);
    border-left-color: #577ba8;
    border-width: 18px;
    top: 50%;
    margin-top: -18px;
}

#sidebar .sprite, #sidebar .sprite-white, #sidebar .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 6px;
    float: left;
}
#sidebar span {
    display: inline-block;
}
#sidebar span[class=counter] {
    font-weight: bold;
    font-size: 15px;
    float: right;
}
#sidebar span[class=title] {
    float: left;
    margin-left: 14px;
    font-size: 15px;
}
#sidebar span[class=hint] {
    float: left;
    margin-left: 14px;
    font-size: 11.5px;
    font-size: 15px;
}

#sidebar .gray-bombian {
    background-image: url(/images/gray.png);
    background-size: 200px;
    height: 200px;
}


#sidebar .rule {
    height: 1px;
    padding-top: 10px;
    margin: 0px 15px 10px 15px;
    border-bottom: 1px solid #d8d8d8;
}
#sidebar .rule .text {
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    background-color: #e0e0e0; /*#CCD5E6;*/
    padding-right: 15px;
    margin-top: -10px;
}

#content {
    display: inline-block;
    width: 750px;
    padding: 25px;
    float: right;
}

form h4 {
    line-height: 42px;
    margin: 0px 0px 20px 0px;
    font-size: 16px;
}
form h4 span {
    float: right; 
    font-size: 13px;
    color: #8e8e8e;
}

form .error {
    color: #B33030;
    line-height: 20px;
    padding-bottom: 8px;
    font-size: 14px;
}
form .error > ul {
    /* Used to list errors that have occured. As of now, there are only 3 list items that can be reported. */
    margin: 0px;
    padding: 0px;
}
form .error > ul li {
    list-style-type: none;
}

.breadcrumb {
    height: 25px;
    line-height: 25px;
    margin: 10px 0px 25px;;
    padding: 0px 5px;
    display: inline-block;
    float: left;
    background-color: #e0e0e0;
}

.notice {
    height: 35px;
    margin-bottom: 25px;
    background-color: #577ba8;
    color: #fff;
    line-height: 35px;
    padding: 0px 10px;
}
.notice a {
    color: #eaf3ff;
    float: right;
}
.notice a:hover {
    color: #fff;
}

.inputRow {
    margin-bottom: 20px;
    line-height: 42px;
    font-size: 13px;
    font-weight: 300;
}
.inputRow.double {
    line-height: 21px;
}
.inputRow.condensed {
    margin-bottom: 8px;
}

.inputRow:last-of-type {
    margin-bottom: 0px;
}

input[type=text], form input[type=password], textarea {
    display: block;
    height: 42px;
    padding: 0px 12px;
    background-color: #FFF !important;
    border: 1px solid #FFF;
    outline: none;
    width: 100%;
    font-size: 13px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
textarea {
    padding: 12px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    resize: vertical;
}
form input:focus, form textarea:focus {
    border: 1px solid #577ba8;
}
input.flagged, textarea.flagged, select.flagged {
    border: 1px solid #c63a3a !important;
}
input.hint, textarea.hint {
    /* Style for the initial field. Use the label tag to set the initial text. */
    color: #000 !important;
}
input[required], textarea[required] {
    /* Require fields */
}
input:-webkit-autofill, textarea:-webkit-autofill {
    /* This is the yellow color that Chrome does when it autofills.*/
    /* Prevent it from showing yellow with this hack.*/
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type=checkbox] {
    display: inline-block;
    width: auto;
    height: auto;
    float: left;
    margin-top: 14px;
    margin-right: 25px;
}

.sa-button{
    height: 42px;
    display: inline-block;
    background-color: #577ba8;
    color: #fff;
    padding: 0px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 42px;
    box-sizing: border-box;
}
.sa-button:hover {
    background-color: #6e8eb5; /*#3C84BD;*/ /*#272727;*/
}
.sa-button:disabled {
    background-color: #989ca7;
}

.sa-button.right {
    float: right;
}

.sa-button.red{
    background-color: #d34c4c;
}
.sa-button.red:hover {
    background-color: #ac3c3c;
}
.sa-button.red:disabled {
    background-color: #b77b7b;
}

.sa-button.full {
    display: block;
    text-align: center;
}
.sa-button.vertical {
    margin-bottom: 15px;
}
.sa-button.vertical:last-of-type {
    margin-bottom: 0px;
}

.sa-button.compact {
    padding: 5px 10px;
    font-size: 13px;
    height: auto;
    line-height: 15px;
}

select {
    width: 100%;
    height: 42px;
    padding: 0px 12px 0px 12px;
    margin: 0px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAABIAAAASABGyWs+AAAAbElEQVQoz9WQuxFAUBBF7zM6eBGZoQUK0AB9UA4VaOXlJIZujsDvScTsJveeOcHOGvQ+gb4jDEofPNNwJPYtWEg4W8JKvmddsGQmQoiYmfLktyBqRiyWieqmviBaHI7GZ+HjtE5WqPeR+cOrNx//Tx8aA8Z7AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA4LTA4VDE2OjUwOjI4LTA2OjAwki8pNwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wOC0wOFQxNjo0NzowNC0wNjowMEWlODsAAAAASUVORK5CYII=) no-repeat right #fff;
    background-position: right center;
    background-position: calc(100% - 10px) center;
    background-color: #577ba8;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
select:hover {
    background-color: #6e8eb5;
}
select option:first-of-type {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.pageBar {
    height: 25px;
}
.pageBar.top {
    margin-bottom: 25px;
}
.pageBar a {
    height: 25px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    padding: 0px 8px;
    line-height: 25px;
    background-color: #e0e0e0;
    color: #000;
    text-decoration: none;
}
.pageBar a:hover, .pageBar a.current {
    background-color: #577ba8;
    color: #fff;
}
.pageBar a.current {
    font-weight: bold;
}


/* Tipsy.css -- Lower server load by including it here instead of having an additional link */
/* https://github.com/jaz303/tipsy */

/* Modified for site style */

.tipsy { font-size: 13px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #333; color: #FFF; max-width: 200px; padding: 5px 8px 5px 8px; text-align: center; }

  /* Rounded corners */
  /*.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }*/
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 2px 2px #000000; -webkit-box-shadow: 0 2p 2px #000000; -moz-box-shadow: 0 2px 2px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #333; }
  .tipsy-arrow-s { border-top-color: #333; }
  .tipsy-arrow-e { border-left-color: #333; }
  .tipsy-arrow-w { border-right-color: #333; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
