.top-bar .title {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: #111;
}

.member {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    float: left;
    background-size: 150px;
    cursor: pointer;
    overflow: hidden;
}
.member .title {
    position: absolute;
    padding: 8px;
    background-color: rgba(87, 123, 168, 0.75);
    color: #fff;
    font-size: 15px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}