.subtitle {
    height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0px;
}
.subtitle span {
    float: right;
}

#content .left {
    width: 485px;
    float: left;
}

.left .username {
    height: 39px;
    margin-top: -5px;
}
.left .username .title {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    color: #111;
}
.left .username .seen {
    float: right;
    line-height: 39px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;    
}
.left .description {
    width: 465px;
    height: 206px;
    padding-right: 20px;
    font-size: 15px;
    overflow-x: none;
    overflow-y: auto;
}

.left .inventory {
    background-color: rgb(218, 218, 218);
    border-bottom: 10px solid rgb(224, 224, 224);
}

.left .inventory .topbar {
    height: 38px;
    background-color: rgb(224, 224, 224);
}
.left .inventory .topbar a {
    display: inline-block;
    height: 38px;
    float: left;
    padding: 0px 20px 0px 20px;
    line-height: 38px;
    text-decoration: none;
    color: #111;
    font-size: 15px;
}
.left .inventory .topbar a:hover{
    background-color: rgb(87, 123, 168);
    color: #fff;
}

.left .inventory .item {
    width: 97px;
    height: 97px;
    background-size: 100% 100%;
    float: left;
    border: none;
    overflow: hidden;
    <!--background-color: #abbbcc;-->
}

.left .inventory .item .details {
    height: 16px;
    padding: 4px;
    background-color: rgb(87, 123, 168);
    color: #fff;
    text-align: left;
    line-height: 16px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 97px;
}
.left .inventory .item .details .icon {
    float: left;
    margin-top: 2px;
    margin-right: 4px;
    width: 13px !important;
    height: 13px !important;
}

.left .nextBlock {
    width: 97px;
    height: 97px;
}
.left .nextBlock div {
    width: 97px;
    bottom: 16px;
}
.left .nextBlock .icon {
    margin-top: 8px;
}


#content .right {
    width: 240px;
    float: right;
}

.right .avatar {
    width: 220px;
    height: 220px;
    background-size: 100% 100%;
    border: 10px solid #e0e0e0;
}

.right .actions, .right .stats {
    padding: 10px 0px 10px 0px;
    background-color: #e0e0e0;
}
.right .actions a, .right .stats div {
    height: 40px;
    display: block;
    line-height: 40px;
    font-size: 15px;
    color: #111;
    padding-left: 20px;
    text-decoration: none;
}
.right .stats div {
    color: #444;
}
.right .stats span {
    float: right;
    color: #111;
    margin-right: 20px;
}
.right .actions a:hover {
    background-color: #577ba8;
    color: #e0e0e0;
}
.right .actions a .sprite, .right .actions a .sprite-white {
    width: 24px;
    height: 24px;
    margin: 8px;
    margin-right: 15px;
    float: right;
    border: none;
}
.right .actions .rule {
    height: 1px;
    padding-top: 18px;
    margin: 0px 25px 18px 25px;
    border-bottom: 1px solid #d1d1d1;
}
.right .actions .rule .text {
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    background-color: #e0e0e0;
    padding-right: 15px;
    margin-top: -10px;
}

.right .friends {
    background-color: #dadada;
    border: 10px solid #e0e0e0;
    border-left: 0px;
    border-right: 0px;
}
.right .friends .thumbnail, .nextBlock {
    width: 80px;
    height: 80px;
    float: left;
    border: none;
    background-size: 100% 100%;
    overflow: hidden;
}
.right .friends .thumbnail .details {
    height: 16px;
    padding: 4px;
    background-color: #577ba8;
    color: #fff;
    text-align: left;
    line-height: 16px;
    font-size: 13px;
    text-align: center;
    margin-top: 80px;
}


.nextBlock {
    position: relative;
    background-color: #dadada;
    text-align: center;
    font-size: 13px;
    color: #000;
    opacity: 1 !important;
}
.nextBlock:hover {
    background-color: #c4c4c4;
}
.nextBlock .icon {
    margin-left: 2px;
    width: 60px;
    height: 60px;
    border: none;
}
.nextBlock div {
    width: 80px;
    position: absolute;
    left: 0px;
    bottom: 12px;
    text-align: center;
}