#content .title {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    color: #111;
    float: left;
}
#s-search {
    width: 200px;
    margin-right: 25px;
    float: right;
}
.sort-results .submit {
    float: right;
}
#content .subtitle {
    height: 28px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin: 25px 0px 15px;
}
#content .subtitle .s-more {
    float: right;
    font-size: 15px;
}

#content .section .row {
    margin-bottom: 15px;
}
#content .section .row:last-of-type {
    margin-bottom: 0px;
}

.item {
    background-color: #e6e6e6;
    width: 178px;
    margin-left: 12.666666px;
    display: inline-block;
    float: left;
    cursor: pointer;
}
.item:hover {
    background-color: #577ba8;
    color: #fff;
}
.item:first-of-type {
    margin-left: 0px;
}
.item .spacer {
    padding: 10px;
    background-color: #e0e0e0;
}
.item.hover .spacer {
    background-color: #CCD5E6;
}
.item .preview {
    width: 158px;
    height: 158px;
    background-size: cover;
    background-position: center;
    /*background-color: #ebebeb;*/
}
.item .details {
    padding: 10px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
}
.item .details .name {
    font-weight: 400;
}
.item .details .author {
    color: #666;
    font-size: 13px;
    margin-bottom: 8px;
}
.item.hover .details .author {
    color: #dbdbdb;
}
.item .details .cost .cubes {
    width: 15px;
    height: 15px;
    padding: 2px 2px 2px 0px;
    float: left;
    margin-right: 3px;
}
.item .details .cost .origin {
    color: #e6e6e6;
    font-weight: 300;
    float: right;
}
.item.hover .details .cost .origin {
    color: inherit;
}